{% extends 'base.html' %}
{% load myfilters %}

{% block content %}
<!-- <form action="{% url 'search-page' %}" method="post"> -->
<!-- <div class="input-group justify-content-center">
    
        {% csrf_token %}
        <div class="form-outline">
            <input type="search" class="form-control input-xlarge"  aria-label="Search" aria-describedby="search-addon" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <a href="{% url 'search-page' %}" class="btn btn-primary"><i class="fas fa-search"></i></a>
    </div> -->
<!-- </form> -->
{% csrf_token %}
<div class="input-group">
    <form action="{% url 'search-page' %}" method="post">
        {% csrf_token %}
    <div class="form-outline">
        <input type="search" name="keyword" class="form-control" />
        <label class="form-label" for="form1">Search</label>
    </div>
        <input type="submit" class="btn btn-primary" value="search">
        <i class="fas fa-search"></i>
    </form>
    
</div>
<style>
    .form-outline{
        width: 400%;
        float: left;
        position: relative;
    }
</style>

<section class="section-products">
    <div class="container">
        <div class="bg-image shadow-5-strong"
            style="background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=600'); height: 50vh; width: 100%;">
            <div
                class="row bg-image p-5 shadow-1-strong rounded mb-5 text-white justify-content-center text-center align-items-center h-100 w-100">
                <div class="col-md-8 col-lg-6">
                    <div class="p-3">
                        <a class="display-2 text-muted"><mark>All Product</mark></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="p-3 text-center align-items-center">
            <a class="h1 text-muted">Popular Products</a>
        </div> -->

        <div class="p-3 m-3 text-center align-items-center">
            <a class="h1 text-muted">SuperValue</a>
        </div>
        <div class="row">
            {% for i in superval %}

            {% for j in i %}
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1" style="background: url('{{ j.2 }}') no-repeat !important; ">
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{ j.1 }}</h3>

                        <h4 class="product-price">{{ j.0 }}</h4>

                    </div>
                    <div class="mb-3">
                        <a href="" class="btn btn-info">Add to cart</a>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            {% endfor %}
            {% endfor %}
        </div>

        <div class="p-3 m-3 text-center align-items-center">
            <a class="h1 text-muted"> Tesco </a>
        </div>
        <div class="row">
            {% for i in tesco %}

            {% for j in i %}
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1" style="background: url('{{ j.2 }}') no-repeat !important;">
                        <ul>
                            
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">{{ j.1 }}</h3>

                        <h4 class="product-price">{{ j.0 }}</h4>
                    </div>
                    
                </div>
            </div>
            <!-- Single Product -->
            {% endfor %}
            {% endfor %}
        </div>


    </div>
</section>
{% endblock %}